{% extends "main_app/base.html" %}
{% load static %}

{% block javascript_block %}
  <script src="{% static 'js/critique_recommender.js' %}"></script>
{% endblock %}

{% block page_title %}
  Part 2: Session 1 of 3
{% endblock %}

{% block page_direction %}
  <div id="direction_section">
      {% include 'main_app/includes/dislike_add_meal_header.html' %}
  </div>
{% endblock %}

{% block breadcrumbs %}
    <hr>
    <div class="row">
        <div class="col-md-1">
            <b>Search history:</b>
        </div>
        <div class="col-md-1">
            <div class="row">
                <img class="img-header" src='{% static "images/logo.png" %}' alt="My image">
            </div>
            <div class="row">
                <div class="col-md-12">
                    Result 1
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row">
                <img class="img-header" src='{% static "images/logo.png" %}' alt="My image">
            </div>
            <div class="row">
                <div class="col-md-12">
                    Result 2
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row">
                <img class="img-header" src='{% static "images/logo.png" %}' alt="My image">
            </div>
            <div class="row">
                <div class="col-md-12">
                    Result 3
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="row">
                <img class="img-header" src='{% static "images/logo.png" %}' alt="My image">
            </div>
            <div class="row">
                <div class="col-md-12">
                    Result 4
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block content %}
<hr>
    <div id="recipe_list">
        {% include 'main_app/includes/recipe_list_dislike_add_meal.html' %}
    </div>
{% endblock %}

{% block button_block %}
    <div id="button_section">
        {% include 'main_app/includes/dislike_add_meal_button.html' %}
    </div>
{% endblock %}

{% block footer %}
    <div class="row top-buffer">
    </div>
{% endblock %}

